<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="include/top::top"></div>
<section>
<br>
<div align="center"> 

  <h1> 로그인 실패 </h1>
  
  <form th:action="@{loginOK.do}"  method="POST">
  <table border=1>
  <tr><td>userid </td> <td><input type=text name=userid id=userid >  </td></tr>
  <tr><td>password </td> <td><input type=text name=password id=password > </td></tr>
  <tr><td colspan=2 align="center"><input type=submit value="로그인" > </td></tr>
  </table>  
  </form>
  
  
</div>  

</section>
<div th:replace="include/bottom::footer"></div>

</body>
</html>